* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000002;
}

canvas {
    display: block;
    width: 100%;    
    max-width: 1280px;
}